*,*::after,*::before{
    -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
        box-sizing: border-box;
    margin: 0;
}
html{
    
}
body{
    background:#eee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4;
}
header > div{
    height: 250px;
    background:#aaa;
    max-width:  1200px;
    margin: 0 auto;
}
.container{
    max-width:  1200px;
    margin: 0 auto;
    background: #fff;
}
.question{
    padding: 20px 40px;
}
.question.sub{padding-top: 0;}
.phase{}
.btn{
    background: #cccccc;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    padding: 40px 0;
    border:0;margin: 0;
    font-size: 20px;
}
.btn:hover{
    background: #b3b3b3;
}
.btn-block{display: block;width: 100%}
h2{font-weight: normal;padding: 40px 0;text-align: center;position: relative;;line-height: 26px}
h2:after{content: '';display: block;width: 80px;border-bottom: 1px solid #111;padding-top: 24px;margin: 0 auto;}
h3{text-transform: uppercase;line-height: 20px;padding: 10px 0 10px 30px;position: relative;}
h3>span{position: absolute;top:10px;left: 0}
h4{font-weight: normal;line-height: 20px;padding: 10px 0 10px 30px;position: relative;}
h4>span{position: absolute;top:10px;left: 0}
.radios:after{content: '';display: block;clear: both;}
.radios{
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
}
*[class*="col-"]{
    float: left;
    padding-left:10px;
    padding-right:10px;
    position: relative;
}
.col-12{
    width: 100%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.333333333%;
}
.col-6{
    width: 50%;
}
.radio{padding-bottom: 10px}
.radio label{display: inline-block;position: relative;}
.radio label > input[type="radio"]{position: absolute;top: 0;left: 0;opacity: 0;}
.radio label > input[type="radio"] + span{
    display: block;
    line-height: 20px;
    position: relative;
    padding-left: 30px;
}
.radio label > input[type="radio"] + span:before{
    content: '';position: absolute;left: 0;top: 0;width: 20px;height: 20px;
    border: 1px solid #ccc;border-radius: 10px;background:#fff;
    -webkit-transition: all .5s; /*adjust timing here */
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.radio label > input[type="radio"] + span:after{
    content: '';position: absolute;left: 3px;top: 3px;width: 14px;height: 14px;
    border-radius: 7px;background:#ccc;
    -webkit-transition: all .5s; /*adjust timing here */
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.radio label:hover > input[type="radio"] + span:before{
    border-color: #aaa
}
.radio label:hover > input[type="radio"] + span:after{
    background:#aaa;
}
.radio label > input[type="radio"]:checked + span:before{
    border-color: #111
}
.radio label > input[type="radio"]:checked + span:after{
    background: #111;
}
textarea{
    width: 100%;padding: 10px;
    font: inherit;
}
.btns{padding-top: 40px}
.btn-group{
    width: 100%;display: table;border-spacing: 0;
    border-collapse: collapse;
}
.btn-group > div{
    display: table-cell;border:1px solid #ccc;
    text-align: center;padding: 10px 0;position: relative;
}
.btn-group > div.active{
    color: #fff;border:1px solid #000;background:#000;z-index: 1;
}
.btn-group > div.active:after{
    content: '';position: absolute;top: 100%;
    display: block;left: 50%;
    margin-top: 6px;
    margin-left: -10px;
    border-bottom: 15px solid #aaa;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.btn-group-desc{
    text-align: center;padding: 10px 0;
    background:#aaa;margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
@media (max-width: 768px){
    .col-3,
    .col-4,
    .col-6{
        width: 100%;
    }
    .question{
        padding-left: 10px;padding-right: 10px;
    }
}