@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('../creative/bootstrap/css/font-awesome.min.css?t=1');
*,*::after,*::before{
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.cover{
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html,body,#content-block{overflow: hidden;display: block;height: 100%;font-family: 'Open Sans';font-size: 14px}
#content-block{position: absolute;left: 0;top:0;bottom: 0;right: 0}
.homepage-3-container, .slice-slider-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
.slice-slider-container .pagination {
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: fixed;
    padding: 10px 0;
    z-index: 2
}
.slice-slider-container .pagination .point {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: rgba(255, 255, 255, .5);
    background: currentColor;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative
}
.slice-slider-container .pagination .point.active {
    color: rgba(255, 255, 255, 1)
}
.slice-slider-container .pagination .point:before {
    position: absolute;
    content: "";
    border: 1px currentColor solid;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    opacity: 0
}
.slice-slider-container .pagination .point:hover:before {
    opacity: 1;
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px
}
.slice-slider-left-column, .slice-slider-right-column {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%
}
.slice-slider-right-column {
    left: auto;
    right: 0
}
.slice-slider-wrapper {
    position: relative;
    height: 100%
}
.slice-slider-slide {
    position: relative;
    height: inherit;
    overflow: hidden
}
.slice-slider-slide-left, .slice-slider-slide-right {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center
}
.slice-slider-left-column .slice-slider-slide-right {
    display: none
}
.slice-slider-right-column .slice-slider-slide-left {
    display: none
}
.slice-slider-align-1 {
    position: absolute;
    width: 58%;
    left: 21%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}
.slice-slider-align-1.top, .slice-slider-align-1.bottom {
    transform: none;
    top: 55px;
    z-index: 2
}
.slice-slider-align-1.bottom {
    top: auto;
    bottom: 55px
}
.slice-slider-align-1 .label-wrapper {
    font-size: 13px;
    line-height: 23px;
    color: #fff
}
.slice-slider-align-1 .label-wrapper i {
    color: rgba(255, 255, 255, .7)
}
.slice-slider-align-2 {
    position: absolute;
    width: 58%;
    left: 21%;
    top: 115px;
    bottom: 115px
}
.slice-slider-align-2 .project-thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 54px;
    background-size: cover;
    background-position: center top
}
.slice-slider-align-2 .rotate-wrapper {
    position: absolute;
    width: 54px;
    height: 100%;
    left: -54px;
    top: 0
}
.slice-slider-align-2 .rotate-wrapper .rotate {
    padding-left: 54px;
    font-size: 13px;
    line-height: 24px;
    color: #757575
}
.slice-slider-align-2 .label-wrapper {
    font-size: 13px;
    line-height: 24px;
    color: #222;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 15px 0;
    bottom: 0
}
.slice-slider-align-2 .label-wrapper i {
    color: #757575
}
.slice-align-animation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center
}
.slice-slider-slide.next .slice-align-animation.parallax {
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%)
}
.slice-slider-slide.prev .slice-align-animation.parallax {
    transform: translateY(60%);
    -webkit-transform: translateY(60%)
}
.slice-slider-slide.active .slice-align-animation.parallax {
    transform: translateY(0%);
    -webkit-transform: translateY(0%)
}
.slice-slider-slide.next .slice-align-animation.scale {
    transform: scale(1.2);
    -webkit-transform: scale(1.2)
}
.slice-slider-slide.prev .slice-align-animation.scale {
    transform: scale(0.8);
    -webkit-transform: scale(0.8)
}
.slice-slider-slide.active .slice-align-animation.scale {
    transform: scale(1);
    -webkit-transform: scale(1)
}
.slice-slider-slide.next .slice-align-animation.rotate3d {
    transform: perspective(1000px) rotateX(-90deg);
    -webkit-transform: perspective(1000px) rotateX(-90deg);
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0
}
.slice-slider-slide.prev .slice-align-animation.rotate3d {
    transform: perspective(1000px) rotateX(90deg);
    -webkit-transform: perspective(1000px) rotateX(90deg);
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%
}
.slice-slider-slide.active .slice-align-animation.rotate3d {
    transform: rotateX(0deg) perspective(1000px);
    -webkit-transform: rotateX(0deg) perspective(1000px)
}
.slice-slider-slide-right-bg{
    background-image: url(images/home-bg.jpg);position: absolute;top: -40px;left: -40px;right: -40px;bottom: -40px;
}
.slice-slider-slide-left>.parallax .title{
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}
.slice-slider-slide-left>.parallax .title>span{
    color: #475d97
}
.slice-slider-slide-left>.parallax>div{

}
.slice-slider-slide-left>.parallax .more{color: #fff;font-style: italic;}

.slice-slider-slide-right h3{
    text-transform: uppercase;
    color: #fff;font-size: 28px;
}
@media (min-width: 991px) {
    .slice-slider-slide-left>.parallax>div{
        width: 50%;
        padding-right: 80px;
        padding-left: 40px;
        top: 50%;position: relative;
        transform: translateY(-50%);
    }
    .slice-slider-slide-left>.parallax .title{
        font-size: 28px;
        line-height: 40px;
        padding: 10px 0;
    }
}
@media (min-width: 1200px) {
    .slice-slider-slide-left>.parallax>div{
        padding-right: 100px;
        padding-left: 60px;
    }
    .slice-slider-slide-left>.parallax .title{
        font-size: 30px;
        line-height: 44px;
    }
}
@media (min-width: 1600px) {
    .slice-slider-slide-left>.parallax>div{
        padding-right: 120px;
        padding-left: 80px;
    }
    .slice-slider-slide-left>.parallax .title{
        font-size: 48px;
        line-height: 60px;
    }

}

@media (max-height: 600px), (max-width: 1300px) {
    .slice-slider-align-1 {
        width: 84%;
        left: 8%
    }
    .slice-slider-align-1.top {
        top: 30px
    }
    .slice-slider-align-1.bottom {
        bottom: 30px
    }
}
@media (max-width: 1600px) {
    .slice-slider-slide-right h3{
        font-size: 24px;
    }
}
@media (max-width: 1200px) {
    .slice-slider-slide-right h3{
        font-size: 20px;
    }
}
@media (max-width: 990px) {

}
@media (max-width: 991px) {
    html{overflow-y:auto;}
    body{display: block;height: auto;}
    #content-block{position: relative;height: auto}
    .slice-slider-left-column {
        display: none
    }
    .slice-slider-right-column .slice-slider-slide-left {
        display: block
    }
    .homepage-3-container, .slice-slider-container, .slice-slider-right-column, .slice-align-animation, .slice-slider-align-1, .slice-slider-slide-left, .slice-slider-slide-right, .slice-slider-align-2 {
        position: relative;
        height: auto;
        left: auto;
        top: auto;
        bottom: auto;
        right: auto;
        width: auto;
        transform: none !important;
        -webkit-transform: none !important
    }
    .slice-slider-wrapper {
        top: 0 !important
    }
    .slice-slider-container .pagination {
        display: none
    }
    .slice-slider-align-2 {
        margin: 0 65px;
        height: 500px
    }
    .slice-slider-align-1 {
        padding: 65px
    }
    .slice-slider-slide {
        margin-bottom: 54px
    }
    body.home-3 header.light .hamburger-icon span {
        background: #444
    }
    .slice-slider-align-1.top, .slice-slider-align-1.bottom {
        position: relative;
        top: auto;
        bottom: auto
    }
}
@media (max-width: 767px) {
    .slice-slider-align-2 .rotate-wrapper {
        display: none
    }
    .slice-slider-align-2 {
        margin: 0 15px
    }
    .slice-slider-align-1 {
        padding: 30px 15px
    }
    .slice-slider-slide {
        margin-bottom: 15px
    }
}
.homepage-8-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
.slice-slider-container.style-1 .slice-slider-slide-right {
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 50%;
    height: auto;
    width: auto;
    z-index: 2
}
.slice-slider-container.style-1 .slice-slider-left-column, .slice-slider-container.style-1 .slice-slider-right-column {
    width: 100%
}
.slice-slider-container.style-1 .slice-slider-align-1 {
    left: auto;
    right: auto;
    width: 100%;
    padding: 0 85px;
    max-width: 675px
}
.slice-slider-container.style-1 .pagination {
    z-index: 2;
    right: 80px
}
@media (max-height: 600px), (max-width: 1300px) {
    .slice-slider-container.style-1 .slice-slider-align-1 {
        padding: 0 30px
    }
    .slice-slider-container.style-1 .pagination {
        right: 19px
    }
}
@media (max-width: 991px) {
    .homepage-8-container {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        height: auto
    }
    .slice-slider-container.style-1 .slice-slider-slide-right {
        top: auto;
        right: auto;
        bottom: auto;
        left: auto
    }
    .slice-slider-container.style-1 .slice-slider-slide {
        margin-bottom: 0
    }
    .slice-slider-container.style-1 .slice-slider-slide-left {
        height: 500px
    }
    .slice-slider-container.style-1 .slice-slider-slide-left .slice-align-animation {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0
    }
    .slice-slider-container.style-1 .slice-slider-align-1 {
        max-width: 100%;
        padding: 0
    }
    .slice-slider-container.style-1 .slice-slider-slide-right .slice-align-animation {
        padding: 30px
    }
}
@media (max-width: 767px) {
    .slice-slider-container.style-1 .slice-slider-slide-left {
        height: auto;
        padding-bottom: 80%
    }
    .slice-slider-container.style-1 .slice-slider-slide-right .slice-align-animation {
        padding: 30px 15px
    }
}