.nailthumb{position:relative;display: block;}
.nailthumb-figure{position:relative;width:100%;padding-bottom:56%;display: block;}
.nailthumb-figure-9-16{position:relative;width:100%;padding-bottom: 42.857142857%;display: block;}
.nailthumb-figure-75{position:relative;width:100%;padding-bottom:75%;display: block;}
.nailthumb-figure-72{position:relative;width:100%;padding-bottom:72%;display: block;}
.nailthumb-figure-64{position:relative;width:100%;padding-bottom:64%;display: block;}
.nailthumb-figure-square{position:relative;width:100%;padding-bottom:100%}
.nailthumb-mark{position:absolute;width:100%;height:100%;z-index: 2;display: none;top: 0;left: 0}
.nailthumb:hover>.nailthumb-mark{display: block;}
.nailthumb:hover>div>.nailthumb-mark{display: block;}
.nailthumb-container{
    position:absolute;width:100%;height:100%;
    overflow:hidden;z-index:1;top: 0;left: 0;
}
.bsd{box-shadow: 0 0 10px #666}
.cls:after{content: '';display: block;clear: both;}
.nailthumb-container .lazy{
    position:absolute;width:100%;height:100%;
    top: 0;left: 0;
}
.nailthumb-container::before{
    position: absolute;content: '';
    border: 1px solid #f9c011;
    width: 40px;height: 40px;left: 50%;top: 50%;margin: -20px 0 0 -20px;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top-color: orangered;
    z-index: 0;
    /*display: none;*/
}
.nailthumb-container.cover:before{display: none;}
.pull-top{padding-top: 10px;} 
.pull-bottom{padding-bottom: 10px}
.container{width: auto;max-width: 1200px;position: relative}

.menu{
    background-image: url(images/menu-blue.png);
}
.logo>.img-logo{width: 209px;height: 44px;background-image: url(images/logo-blue.png)}
body.in .logo>.img-logo{width: 209px;height: 44px;background-image: url(images/logo.png)}
html{overflow-y: auto}
body{height: auto}
.becom{padding: 80px 75px 0 75px;position: relative;}
.becom>div{position: relative;}
.becom>div>img{width: 100%}
.becom>div>p{
    position: absolute;
    top: 40%;right: 20px;left: 50%;
    max-width:400px
}
.slogan{text-transform: uppercase;text-align: center;position: relative;top:-5%;font-size: 24px;font-weight: bold; }
.h1{text-transform: uppercase;text-align: center;position: relative;font-size: 24px;font-weight: bold; }
.box{padding: 75px;}
.boxs{margin: auto;background: #333;position: relative;}
.box{}
.box>div{position: relative;}
.box>.nailthumb{overflow: hidden;}
.box-thumb{width: 50%;position: absolute;left: 50%;top: 0;height: 100%}
.box-text{padding-right: 50%;background: #fff;position: relative;}
.box-text>div{
    position: relative;
    padding: 80px 40px;
}
.box-center{
    display: block;position: absolute;left: 50%;top:50%;
    transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    /*max-width: 520px;*/
    width: 100%;
    padding:10px;
    z-index: 2;
}
.box-thumb .text-content,
.box-text>div>.text-content{
    display: block;
    margin:auto;
    /*position: absolute;left: 50%;top:50%;*/
    /*transform: translate(-50%, -50%) !important;*/
    /*-moz-transform: translate(-50%, -50%) !important;*/
    /*-webkit-transform: translate(-50%, -50%) !important;*/
    /*max-width: 520px;*/
    width: 100%;
    padding:10px;
    text-align: center;
    z-index: 2;
}

.text-content .title{text-align: center;/*font-weight: 100;*/text-transform: uppercase;}
.osc,
.box-center .desc,
.text-content .desc{
    /*font-family: 'Roboto','Roboto Condensed', sans-serif;*/
    font-weight: 300;
}
.box-thumb>div{height: 100%}
.box-thumb .text-content{
    color: #fff;
}
.text-content ul{
    width: 50%;display: inline-block;text-align: left;color: #e1e8ed;padding-top: 15px;float: left;
    padding-right: 30px;
}
.text-content ul>li{color: #e1e8ed}
.text-content ul>li>div{color: #111}
.control-group{display: block;padding-bottom: 10px;color: #111}
.form-control{
    width: 100%;
    border-radius: 0;box-shadow: none;
    border-color: #e1e8ed;background: transparent;
    margin-top: 4px;
}
@media (max-width: 1600px) {
    .becom{padding: 80px 40px 0 40px}
    .box{padding: 40px;}
}
@media (max-width: 1200px) {
    .slogan{font-size: 22px}
}
@media (max-width: 960px) {
    .slogan{font-size: 20px}
}
@media (max-width: 768px) {
    .becom{padding: 80px 20px 0 20px}
    .box{padding: 20px;}
    .becom>div>p{position: relative;left: 0;top:0;right: 0;}
    .slogan{top:0;  font-size: 18px}
}