@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('../bootstrap/css/bootstrap.css');
@import url('../css/common.css');
@import url('../css/button.css');
@import url('../css/font-size.css');
@import url('../bootstrap/css/hover.css');
@import url('../bootstrap/css/font-awesome.min.css?t=1');
@import url('/libraries/plugin/owl-carousel/owl.carousel.css');
@import url('/libraries/plugin/swipebox/swipebox-dark-1.3.css');
@import url('/libraries/metronic/theme/assets/global/plugins/bootstrap-toastr/toastr.min.css');
*,*::after,*::before{
      -webkit-box-sizing: border-box;
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 0;margin: 0;
}
html{

}
body{
    font-family: 'Open Sans';
}
.home-slider .owl-carousel .item{
    padding: 280px 0;text-align: center;position: relative;
}
.home-slider .owl-carousel .item:before{
    position: absolute;content: '';display: block;
    top: 0;left: 0;width: 100%;height: 100%;
    background: rgba(0,0,0,.5)
}
.home-slider .owl-carousel .item>.slider-content{
    display: inline-block;margin: auto;position: relative;
    padding: 40px 20px;color: #fff;z-index: 1;max-width: 740px;
}
.icon-on-top:before,
.icon-on-top:after,
.icon-on-bottom:after,
.icon-on-bottom:before{
    position: absolute;width: 40px;height: 40px;content: '';display: block;
    
}
.icon-on-top:before{
    top: 0;left: 0;
    border-top: 8px solid #ffcc00;
    border-left: 8px solid #ffcc00;
}
.icon-on-top:after{
    top: 0;right: 0;
    border-top: 8px solid #ffcc00;
    border-right: 8px solid #ffcc00;
}
.icon-on-bottom:after{
    bottom: 0;left: 0;
    border-bottom: 8px solid #ffcc00;
    border-left: 8px solid #ffcc00;
}
.icon-on-bottom:before{
    bottom: 0;right: 0;
    border-bottom: 8px solid #ffcc00;
    border-right: 8px solid #ffcc00;
}
.home-slider .owl-carousel .item>.slider-content .sub-title{margin-bottom: 20px}
.home-slider .owl-carousel .item>.slider-content .title{margin-bottom: 40px}
.home-slider .owl-carousel .item>.slider-content .title>span{color: #ffcc00}
.home-slider .owl-carousel .owl-prev,
.home-slider .owl-carousel .owl-next{
    position: absolute;width: 27px;height: 50px;top: 50%;margin-top: -25px;
}
.home-slider .owl-carousel .owl-prev.disabled,
.home-slider .owl-carousel .owl-next.disabled{
    opacity: .5
}
.home-slider .owl-carousel .owl-prev{
    background: url(images/left.png) no-repeat center;left: 20px;
}
.home-slider .owl-carousel .owl-prev:hover{
    background: url(images/left-hvr.png) no-repeat center
}
.home-slider .owl-carousel .owl-next{
    background: url(images/right.png) no-repeat center;right: 20px;
}
.home-slider .owl-carousel .owl-next:hover{
    background: url(images/right-hvr.png) no-repeat center
}
.home-slider .owl-carousel .owl-dots{
    position: absolute;left: 0;width: 100%;top:0;
}
@-webkit-keyframes bar {
  0% {
    width: 0%;
  }
  10% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes bar {
  0% {
    width: 0%;
  }
  10% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes bar {
  0% {
    width: 0%;
  }
  10% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.home-slider .owl-carousel .owl-dot{
    width: 0%;height: 4px;background: #ffcc00;
    position: absolute;top: -4px;left: 0;
}
.home-slider .owl-carousel .owl-dot.active{
    width: 100%;
    top:0;
    -webkit-animation: bar 4.5s linear infinite;
    -moz-animation: bar 4.5s linear infinite;
    animation: bar 4.5s linear infinite;
    -webkit-iteration-count: 1;
    animation-iteration-count: 1;
}
.navbar-brand{
    width: 88px;
    height: 60px;
    background: url(images/logo.png) no-repeat left center;
}
.navbar{
    margin-top: 10px;
}

.navbar-nav > li > a.active, 
.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus{
    background: transparent;
    color: #ffcc00
}
.navbar-nav > li.more-menu > a.active, 
.navbar-nav > li.more-menu > a:hover, 
.navbar-nav > li.more-menu > a:focus{
    background: #ffcc00;
    color: #fff
}
.box-main{
    padding: 80px 0;position: relative;
    color: #fff;
}
.banner{padding: 100px 0}
.box-main:before{
    content: '';display: block;position: absolute;left: 0;width: 100%;height: 100%;top:0;z-index: 0;
    background: rgba(0,0,0,.7)
}
.box-main>div{position: relative;z-index: 1}
.box-title{position: relative;padding: 15px;display: block;}
.box-title:hover{text-decoration: none;}
.box-title>*{z-index: 1;position: relative;text-decoration: none;}
.box-title>div{text-transform: uppercase;font-size: 24px;line-height: 30px;}
.box-title>span{text-transform: capitalize;font-size: 16px;line-height: 20px;display: block;}
.box-title:before{
    content: '';display: block;position: absolute;left: 0;width: 100px;height: 80px;top:50%;z-index: 0;
    left: 50px;margin: -40px 0 0 -50px;
    background: #ffcc00;z-index: 0
}
.box-title:after{
    content: '';display: block;position: absolute;left: 0;width: 100px;height: 80px;top:50%;z-index: 0;
    left: 50px;margin: -35px 0 0 -45px;
    border: 1px solid #ffcc00;z-index: 0
}
.box-title.text-center:before{
    left: 50%;
}
.box-title.text-center:after{
    left: 50%;
}
.report-nums{text-align: center;}
.report-nums .num{
    padding-top: 10px;
    padding-bottom: 10px
}
.report-nums .num>div{font-size: 85px;font-weight: bold;}
.report-nums .num>span{font-size: 18px}
.services-list{text-align: center;}
.services-list>div{padding-top: 10px;padding-bottom: 10px;text-transform: uppercase;}
.line-thumb>div{position: relative;height: 100%}
.line-thumb>div:after{
    content: '';position: absolute;top:0;left: 20px;height: 100%;
    width: 7px;background: url(images/line.png)
}
.line-thumb.right>div:after{left: auto;right: 20px}
.title2{position: relative;font-size: 18px;line-height: 26px;margin-bottom: 10px;}
.title2:before{content: '';display: block;width: 80px;height: 2px;background: #ffcc00;margin-bottom: 5px;}
.gray-box{background: #f0f0f0}

.boxs{margin: auto;background: #333;position: relative;}
.box{box-shadow: 0 0 1px #000 inset}
.box>div{position: relative;}
.box>.nailthumb{overflow: hidden;}
.size11{width: 20%;}
.size12{width: 20%;}
.size21{width: 40%;}
.size22{width: 40%;}
.size11>div{padding-bottom: 75%}
.size12>div{padding-bottom: 150%}
.size21>div{padding-bottom: 35.25%}
.size22>div{padding-bottom: 75%}
.box .nailthumb-mark,
.size12 .nailthumb-mark,
.size21 .nailthumb-mark,
.size11 .nailthumb-mark,
.size22 .nailthumb-mark{
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    display: block;
    -webkit-transition: all .5s; /*adjust timing here */
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.box:hover .nailthumb-mark,
.size12:hover .nailthumb-mark,
.size21:hover .nailthumb-mark,
.size22:hover .nailthumb-mark,
.size11:hover .nailthumb-mark{
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.box .nailthumb-mark{background: rgba(255, 165, 0, 0.9);}

.box .nailthumb-mark:before{
    position: absolute;content: '';display: block;left: 10px;top: 10px;width: 10px;height: 10px;
    border-left: 1px solid  rgba(255,255,255,.5);
    border-top: 1px solid  rgba(255,255,255,.5);
}
.box .nailthumb-mark:after{
    position: absolute;content: '';display: block;right: 10px;top: 10px;width: 10px;height: 10px;
    border-top: 1px solid  rgba(255,255,255,.5);
    border-right: 1px solid  rgba(255,255,255,.5);
}
.box .nailthumb-mark>div{
    position: relative;height: 100%;padding: 20px;
}
.box .nailthumb-mark>div:before{
    position: absolute;content: '';display: block;left: 10px;bottom: 10px;width: 10px;height: 10px;
    border-left: 1px solid  rgba(255,255,255,.5);
    border-bottom: 1px solid  rgba(255,255,255,.5);
}
.box .nailthumb-mark>div:after{
    position: absolute;content: '';display: block;right: 10px;bottom: 10px;width: 10px;height: 10px;
    border-right: 1px solid  rgba(255,255,255,.5);
    border-bottom: 1px solid  rgba(255,255,255,.5);
}
.box .nailthumb-mark>div>div{
    max-width: 480px;
    /*height: 200px;*/
    width: 100%;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    color: #111;
}
.box .nailthumb-mark .title{
    font-weight: 100;text-transform: uppercase;
    font-size: 16px;line-height: 20px;
    padding-bottom: 10px;
}

.box .nailthumb-mark .author{
    font-weight: 100;
    margin-bottom: 10px;
}
.box.size22 .nailthumb-mark .title,
.box.size21 .nailthumb-mark .title{
    font-size: 20px;
}
.socials{
    line-height: 20px;spadding-top: 5px;padding-bottom: 5px;height: 30px;
}
.socials>span,
.socials>a{
    color: #111;width: 24px;height:24px;display: inline-block;
    top: -5px;border:1px solid rgba(0,0,0,.2);
    text-align: center;
    position: relative;top:-2px;
}
.socials>span>.fa,
.socials>a>.fa{line-height: 22px;}

.blog-box{padding: 40px 0}
.blog-box .tit{position: relative;font-weight: bold;}
.blog-box .tit::after{
    margin: 10px auto;
    height: 3px;
    width: 60px;
    background-color: #ffba00;
    content: '';display: block;
}
.blog-box .desc{padding: 10px 0 30px 0}
#owl-blog .item{}
#owl-blog .item .title{font-weight: bold;margin-bottom: 10px;text-align: justify;}
#owl-blog .item .cat{margin-top: 10px;font-size: 13px;color: #777}
#owl-blog .item .date{padding-top: 10px;color: #777;font-size: 13px;margin-bottom: 10px;}
#owl-blog .item.active .info,
#owl-blog .item:hover .info{border-color: #ffcc00}
#owl-blog .item .info{
    padding:0 20px 20px 20px;position: relative;
    border:1px solid #f2f5f6; border-top: 0
}
.blog-title{
    font-size: 15px;position: relative;text-transform: uppercase;padding-bottom: 15px;z-index: 11;
    padding-left: 20px
}
.blog-title>*{z-index: 2;position: relative;}
.blog-title:before{
    content: '';display: block;position: absolute;left: 0;width: 100px;top:-10px;;z-index: 0;
    left: 50px;margin: 0 0 0 -50px;bottom: 5px;
    background: #f2f5f6;z-index: 0
}
.blog-title:after{
    content: '';display: block;position: absolute;left: 0;width: 100px;;top:-5px;z-index: 0;
    left: 50px;margin: 0px 0 0 -45px;bottom: 0;
    border: 1px solid #f2f5f6;z-index: 0
}
#owl-blog .item.active .blog-title:before,
#owl-blog .item:hover .blog-title:before{background: #ffcc00}
#owl-blog .item.active .blog-title:after,
#owl-blog .item:hover .blog-title:after{border-color: #ffcc00}
#owl-blog .dots{
    position: absolute;
}
div[role="dot-orange"] .owl-dots{text-align: center;padding: 10px;}
div[role="dot-orange"] .owl-dots .owl-dot{
    display: inline-block;
    padding: 4px
}
div[role="dot-orange"] .owl-dots .owl-dot>span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #ccc;
}
div[role="dot-orange"] .owl-dots .owl-dot.active>span{background: #ffba00}
#owl-testimonial {background: rgba(0,0,0,.9);border-radius: 4px}
#owl-testimonial .item{padding: 60px 20px 70px 20px;border-radius: 4px;color: #fff;height: 280px}
.foot-products .nailthumb{padding-bottom: 10px;}
#owl-testimonial .item .que{position: relative;padding-left: 26px;padding-bottom: 10px;}
#owl-testimonial .item .que:before{
    content: '';display: block;position: absolute;
    left: 0;top: 0;width: 15px;height: 12px;
    background: url(images/que.png)
}
#owl-testimonial .item span{color: #ffcc00}
#owl-testimonial .owl-dots{position: absolute;bottom: 20px;right: 20px}

.partners-list .nailthumb-figure{padding-bottom: 0;height: 135px;background: #fff;border-radius: 2px}
.partners-list > div{padding-bottom: 10px;}
.foot-logo{padding-bottom: 20px;}
.foot-title>*{position: relative;z-index: 1}
.foot-title{
    position: relative;font-size: 16px;line-height: 20px;padding: 10px 10px 40px 10px;
    color: #fff;
}
.foot-title:before{
    content: '';display: block;position: absolute;left: 0;width: 60px;height: 30px;top:5px;z-index: 0;
    left: 0px;margin: 0px 0 0 0px;
    background: #ffcc00;z-index: 0
}
.foot-title:after{
    content: '';display: block;position: absolute;left: 0;width: 60px;height: 30px;top:5px;z-index: 0;
    left: 4px;margin: 4px 0 0 0px;
    border: 1px solid #ffcc00;z-index: 0
}
.foot-list{list-style: none;color: #fff}
.foot-list a{display: block;line-height: 20px;padding: 5px 0}
.foot-list a:hover{color: #ffcc00;text-decoration: none;}
.foot-desc{}
.foot-menu{padding-bottom: 20px}
.custom-box>.content p{color: #666}
.custom-box>.content ul>li{color: #ffcc00;text-transform: uppercase;}
.custom-box>.content ul>li>a,
.custom-box>.content ul>li>span{color: #111;text-decoration: none;}
.custom-box>.content ul{
    padding-left: 20px
}
.breadcum{
    position: absolute;right: 10px;top: 50%;line-height: 20px;
    z-index: 2;max-width: 50%;text-align: right;
    transform: translate(0, -50%) ;
    -moz-transform: translate(0, -50%) ;
    -webkit-transform: translate(0, -50%) ;
}
.breadcum a{color: #fff;position: relative;text-decoration: none;}
.breadcum a:after{content: '/'; padding: 0 5px}
.breadcum span{color: #ffcc00}
.blog-cover img{max-width: 100%}
@media (max-width: 1599px) {
    
}
@media (max-width: 1199px) {
    
    .home-slider .owl-carousel .item{padding: 160px 0}
    .home-slider .owl-carousel .item>.slider-content{
        max-width: 560px
    }
    .home-slider .owl-carousel .item>.slider-content .sub-title{margin-bottom: 10px}
    .home-slider .owl-carousel .item>.slider-content .title{margin-bottom: 20px}
    .icon-on-top:before,
    .icon-on-top:after,
    .icon-on-bottom:after,
    .icon-on-bottom:before{
        width: 20px;height: 20px;
        
    }
    .icon-on-top:before{
        border-top: 4px solid #ffcc00;
        border-left: 4px solid #ffcc00;
    }
    .icon-on-top:after{
        border-top: 4px solid #ffcc00;
        border-right: 4px solid #ffcc00;
    }
    .icon-on-bottom:after{
        border-bottom: 4px solid #ffcc00;
        border-left: 4px solid #ffcc00;
    }
    .icon-on-bottom:before{
        border-bottom: 4px solid #ffcc00;
        border-right: 4px solid #ffcc00;
    }
}

@media (max-width: 991px){
    .home-slider .owl-carousel .item{padding: 100px 0}
    .navbar-header{
        float: none;
        margin-right: -10px;
        margin-left: -10px;
    }
    .navbar-toggle{
        display: block;
    }
    .navbar-toggle .icon-bar{
        background: #000
    }
    .report-nums .num>div{font-size: 60px;}
    .report-nums .num>span{font-size: 16px}
    .line-thumb{float: left;width: 100%}
    .line-thumb>div{padding-bottom: 50%}
    .breadcum{
        position: relative;top: 0;right: auto;
        transform: translate(0, 0) ;
        -moz-transform: translate(0, 0) ;
        -webkit-transform: translate(0, 0) ;
        text-align: left;
        margin-top: 20px;
    }
}
@media (max-width: 767px){
    .home-slider .owl-carousel .item{padding: 40px 0}
}
@media (min-width: 1200px){
    .navbar-collapse{}
}
@media (min-width: 992px){
    .navbar-collapse{padding: 0}
    .line-thumb{
        height: 100%;
        position: absolute;
        left: 0;
    }
    .line-thumb.right{
        left: auto;right: 0
    }
    .line-thumb>div{margin-left: -10px}
    .line-thumb.right>div{margin-right: -10px;margin-left: 0}
}