.transition{
    -webkit-transition: all .5s; /*adjust timing here */
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.nailthumb{position:relative;display: block;}
.nailthumb .nailthumb-figure{position:relative;width:100%;padding-bottom:56%;display: block;}
.nailthumb .nailthumb-figure-9-16{position:relative;width:100%;padding-bottom: 42.857142857%;display: block;}
.nailthumb .nailthumb-figure-75{position:relative;width:100%;padding-bottom:75%;display: block;}
.nailthumb .nailthumb-figure-72{position:relative;width:100%;padding-bottom:72%;display: block;}
.nailthumb .nailthumb-figure-64{position:relative;width:100%;padding-bottom:64%;display: block;}
.nailthumb-figure-square{position:relative;width:100%;padding-bottom:100%}
.nailthumb-mark{position:absolute;width:100%;height:100%;z-index: 2;display: none;top: 0;left: 0}
.nailthumb:hover>.nailthumb-mark{display: block;}
.nailthumb:hover>div>.nailthumb-mark{display: block;}
.nailthumb .nailthumb-container{
    position:absolute;width:100%;height:100%;
    overflow:hidden;z-index:1;top: 0;left: 0;
}
.bsd{box-shadow: 0 0 10px #666}
.cls:after{content: '';display: block;clear: both;}
.nailthumb-container .lazy{
    position:absolute;width:100%;height:100%;
    top: 0;left: 0;
}
.nailthumb-container::before{
    position: absolute;content: '';
    border: 1px solid #f9c011;
    width: 40px;height: 40px;left: 50%;top: 50%;margin: -20px 0 0 -20px;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top-color: orangered;
    z-index: 0;
}
.pull-top{padding-top: 10px;} 
.pull-bottom{padding-bottom: 10px}
.container{width: auto;max-width: 1200px;position: relative}
.cover{
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.word-wrap{
    white-space: pre-wrap; /* css-3 */ 
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
    white-space: -pre-wrap; /* Opera 4-6 */ 
    white-space: -o-pre-wrap; /* Opera 7 */ 
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
a,a:link,a:active{color: inherit;}
.space-line{display: block;height: 10px;}
.space-line1{display: block;height: 20px;}
.space-linex2{display: block;height: 40px;}
.space-linex3{display: block;height: 60px;}
.space-linex4{display: block;height: 80px;}
.space-linex5{display: block;height: 100px;}
.space-line-half{display: block;height: 5px;}

.btn.auto{margin: 0 auto;float: none;display: inherit;}
.line-clamp-1 {display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;  overflow: hidden;max-height: 1.5em;line-height: 1.5em;}
.line-clamp-2 {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  overflow: hidden;max-height: 3em;line-height: 1.5em;}
.line-clamp-3 {display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;  overflow: hidden;max-height: 4.5em;line-height: 1.5em;}
.line-clamp-4 {display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;  overflow: hidden;max-height: 6em;line-height: 1.5em;}
.line-clamp-5 {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;  overflow: hidden;max-height: 7.5em;line-height: 1.5em;}
.line-clamp-6 {display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;  overflow: hidden;max-height: 9em;line-height: 1.5em;}
.line-clamp-f-1 {display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;  overflow: hidden;height: 1.5em;line-height: 1.5em;}
.line-clamp-f-2 {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  overflow: hidden;height: 3em;line-height: 1.5em;}
.line-clamp-f-3 {display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;  overflow: hidden;height: 4.5em;line-height: 1.5em;}
.line-clamp-f-4 {display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;  overflow: hidden;height: 6em;line-height: 1.5em;}
.line-clamp-f-5 {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;  overflow: hidden;height: 7.5em;line-height: 1.5em;}
.line-clamp-f-6 {display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;  overflow: hidden;height: 9em;line-height: 1.5em;}
.fa-2.fa {
  font-size: 1.5em;
}
.fa-3.fa {
  font-size: 2em;
}
.fa-4.fa {
  font-size: 2.5em;
}
.fa-5.fa {
  font-size: 3em;
}
.fa-6.fa {
  font-size: 3.5em;
}
.navbar-nav > li > a{
    line-height: 20px;
    padding: 20px;
    font-size: 16px;
}
.navbar-nav > li > .dropdown-menu>li>a{
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
}

@media (max-width: 1199px){
    .navbar-nav > li > a{
        padding: 20px 10px
    }
}
@media (max-width: 959px){
    .navbar > .container .navbar-brand, 
    .navbar > .container-fluid .navbar-brand{
        margin-left: 10px;
    }
    .container > .navbar-header, 
    .container-fluid > .navbar-header, 
    .container > .navbar-collapse, 
    .container-fluid > .navbar-collapse
    .container .navbar-header{
        float: none;
        margin-right: -10px;
        margin-left: -10px;
        padding-top: 10px;padding-bottom: 10px;
    }
    .navbar-toggle{
        display: block;
    }
    .navbar-toggle .icon-bar{
        background: #000
    }
    .navbar-collapse,
    .navbar-collapse.pull-right{
        float: none !important;
    }
    .navbar-nav > li > a{padding: 10px 20px}
    .navbar-nav > li > [data-toggle="dropdown"]{display: none;}
    .navbar-nav > li > .dropdown-menu.pull-right{float: none !important}
    .navbar-nav > li > .dropdown-menu{
        display: block;position: relative;
        left: 0;top: 0;min-width: none;
        border:0;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
    }
    .navbar-nav > li > .dropdown-menu>li{}
    .navbar-nav > li > .dropdown-menu>li>a{
        padding: 10px  20px;
    }
    .navbar-nav,
    .navbar-nav > li{
        float: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: 0 !important;
        padding-bottom: 0;
        overflow: hidden !important;
        visibility: hidden !important;
        border: 1px solid #111;
        position: absolute;
        width: 100%;
    }
    .nav-collapsed .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        visibility: visible !important;
    }
    .nav-collapsed .navbar-collapse.collapse:before{
        content: '';display: block;position: absolute;
        right: 20px;top: -10px;
        border-bottom: 10px solid #111;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
    .nav-collapsed .navbar-collapse.collapse:after{
        content: '';display: block;position: absolute;
        right: 20px;top: -9px;
        border-bottom: 10px solid #fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
}
@media (min-width: 1200px){
    .navbar-collapse{}
}
@media (min-width: 960px){
    .navbar-collapse{padding: 0}
    .navbar > .container .navbar-brand, 
    .navbar > .container-fluid .navbar-brand
    {
        margin-left: 0px;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        visibility: visible !important;
    }
}